#index{background-color: pink; color: aqua;}
#about{background-color: plum; color: aqua;}
#contact{background-color: palevioletred; color:aqua;}
#prodouct{background-color: purple; color: aqua;}
#new{background-color:rebeccapurple;color: aqua;}
#more{background-color: peru;color: aqua;}
#off{background-color:pink;color: aqua;}
